@import 'mixins';

@font-face {
    font-family: 'HarmonyOSBold';
    src: url('../assets/HarmonyOS_Sans_SC_Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS';
    src: url('../assets/HarmonyOS_Sans_SC_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #2065d9;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #cbcbcb;
    cursor: pointer;
}

html,
body {
    width: 100%;
    font-family: HarmonyOS, HarmonyOSBold, serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: inline-block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    font-size: 14px;
    color: #242B3A;
    overflow: hidden;
}

:root {
    --el-color-primary: #0057FE;
    --el-color-primary-light-3: #0057FEd2;
    --el-color-primary-light-5: #0057FE9f;
    --el-color-primary-light-7: #0057FE4e;
    --el-color-primary-light-8: #0057FE24;
    --el-color-primary-light-9: #0057FE16;
    --el-color-danger: #F64949;
    --el-color-success: #2FD7A2;
    --el-color-success-light-3: #2fd7a2d2;
    --el-color-success-light-5: #2fd7a29f;
    --el-color-success-light-7: #2fd7a24e;
    --el-color-success-light-8: #2fd7a224;
    --el-color-success-light-9: #2fd7a216;
}

.el-button.is-plain {
    --el-button-bg-color: var(--el-color-white);
}
